*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f1f4f5;
}

.toolbox-cont{
    height: 5rem;
    background-color: #2d3436;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    width: 16rem;
    height: 3.5rem;
    background-color: #535c68;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.action-cont{
    height: 3.5rem;
    width: 8rem;
    background-color: #535c68;
    display: flex;
}

.action-cont > *{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dfe4ea;
}

.action-cont > *:hover{
    background-color: #8395a7;
    cursor: pointer;
}

.color{
    height: 1.8rem;
    width : 2.5rem;
    border-radius: 2px;
}

.color:hover{
    height: 1.5rem;
    width: 2rem;
}

.toolbox-cont > *{
    margin-left: 4rem;
    border-radius: 2px;
}

.lightpink{
    background-color: lightpink;
}

.lightblue{
    background-color: lightblue;
}

.lightgreen{
    background-color: lightgreen;
}

.black{
    background-color: black;
}

.add-btn{
    font-size: 2.5rem;
}
.delete-btn{
    font-size: 2rem;
}

.modal-cont{
    height: 40vh;
    width: 45vw;
    background-color: lightblue;
    position: absolute;
    top: calc((100vh - 40vh)/ 2);
    left: calc((100vw - 45vw)/ 2);
    display: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.textarea-cont{
    height: 100%;
    width: 78%;
    border: none;
    outline: none;
    resize: none;
    background-color: #e3e7ec;
    padding: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2rem;
}

.priority-colors-cont{
    height: 100%;
    width: 22%;
    background-color: #808e9b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color{
    height: 3rem;
    width: 62%;
}

.border{
    border: 3.5px solid;
    border-color: #dfe6e9;
}

.ticket-cont{
    height: 12rem;
    width: 16rem;
    background-color: #f1f2f6;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    height: 2rem;
    padding: 0.4rem;
    font-size: 1rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}

.task-area{
    height: calc(100% - 5rem);
    padding: 0.4rem;
    outline: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.4rem;
}

.ticket-lock{
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    padding-right: 1rem;
    color: #a5b1c2;
}

.main-cont{
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media screen and (min-width: 426px) and (max-width: 768px) {
    .modal-cont{
        width: 30rem;
        left: calc((100vw - 30rem)/ 2);
    }

    .priority-color{
        height: 15%;
    }
}

@media screen and (max-width: 425px){
    .modal-cont{
        flex-direction: column-reverse;
        width: 18rem;
        height: 21rem;
        top: calc((100vh - 40vh)/ 2);
        left: calc((100vw - 18rem)/ 2);
    }

    .priority-colors-cont{
        flex-direction: row;
        height: 20%;
        width: 100%;
    }
    .priority-color{
        width: 17%;
        height: 50%;
    }

    .textarea-cont{
        height: 80%;
        width: 100%;
    }

    .toolbox-priority-cont{
        margin-left: 2.5rem;
        width: 12rem;
        height: 3.5rem;
    }

    .action-cont{
        margin-left: 4rem;
        height: 3.5rem;
        width: 6rem;
    }

    .color{
        height: 1.8rem;
        width : 2rem;
        border-radius: 2px;
    }
}

