body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.gallery-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f3e5c8;
}

.media-cont{
    height: 18rem;
    width: 20rem;
    margin: 4rem;
    border-radius: 1rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.media {
    height: 100%;
}

.media > * {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;  
}


.media-name{
    margin-top: 1rem;
    height: 2rem;
    /* background-color: #ffb8b8; */
    font-size: 1.5rem;
    text-align: center;
}

.gallery-actions-cont{
    z-index: 10;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 7.6rem;
    margin-top: 8rem;
}

.delete{
    cursor: pointer;
    font-size: 2.5rem;
    color: #ced6e0;
}

.download{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1rem;
    color: #ced6e0;
}

.sort-cont{
    height: 5rem;
    background-color: #ffb8b8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.sort-cont>*{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: #ffcccc;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.photos-cont{
    margin-left: 2rem;
}

.videos-cont{
    margin-left: 2rem;
}

.collections{
    margin-right: 0.4rem;
}

.photos{
    margin-right: 0.4rem;
}

.videos{
    margin-right: 0.4rem;
}

.blur-on-media{
    filter: blur(0.7rem);
}

.cursor-pointer{
}

.cursor-pointer:hover{
    cursor: pointer;
}