*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color:#f1f2f6;
}

.video-cont{
    top: 0.5rem;
    position: absolute;
    left: 12rem;
    /* left: 8rem; */
    height: 86vh;
    width: 64.4vw;
    overflow: hidden;
    /* border-radius: 0.5rem; */
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

video{
    height: 100%;
    width: 100%;
    /* -webkit-transform: scaleX(-1);
    transform: scaleX(-1); */
    object-fit: fill;
    /* border-radius: 0.8rem; */
    /* box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px; */
}

.actions-cont{
    height: 5.5rem;
    width: 64.4vw;
    background-color: #d5d7da;
    position: absolute;
    bottom: 0.7rem;
    display: flex;
    left: 12rem;
    /* left: 8rem; */
    align-items: center;
    /* border-radius: 0.5rem; */
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: rgba(163, 142, 142, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.zoom-actions{
    display: flex;
    margin-left: 3rem;
}

.zoom-in{
    background-color: #ecf0f1;
    font-size: 1rem;
    border: #ced6e0 solid 1px;
    padding: 0.7rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.zoom-out{
    background-color: #ecf0f1;
    font-size: 1rem;
    border: #ced6e0 solid 1px;
    padding: 0.7rem;
}

.gallery-button{
    font-size: 1rem;
    background-color: #ecf0f1;
    width: 6.7rem;
    border: #ced6e0 solid 1px;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.camera-actions{
    display: flex;
    width: 10rem;
    left: 15rem;
    justify-content: space-around;
    margin-left: 10rem;
}

.camera-actions >*{
    background-color: brown;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera-shutter{
    font-size: 2rem;
    color: white;
}

.record-shutter{
    font-size: 2rem;
    color: white;
}

.filter-button{
    background-color: #ecf0f1;
    border: #ced6e0 solid 1px;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin-left: 14rem;
}

.scale-capture{
    animation-name: scale-capture;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes scale-capture {
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

.scale-record{
    animation-name: scale-record;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes scale-record {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

.timer-cont{
    position: absolute;
    right: 16rem;
    font-size: 0.6rem;
    opacity: 75%;
    display: none;
    align-items: center;
    width: 6.5rem;
    height: 2rem;
    justify-content: space-evenly;
    border-radius: 0.5rem;
}

.red-icon{
    height: 1rem;
    width: 1rem;
    background-color: rgb(199, 44, 44);
    border-radius: 50%;
}

.filters-cont{
    height: 30rem;
    width: 8rem;
    position: absolute;
    top: calc((100vh - 30rem) / 2);
    right: 6rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.filter{
    height: 6rem;
    width: 100%;
    background-image: url("./backgroundImage.jpeg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.pink{
    background-color: #e5ade626;
}

.blue{
    background-color: #adb9e659;
}

.yellow{
    background-color: #dde6ad33;
}

.transparent{
    background-color: transparent;
}

.filter-layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.move-left{
    animation-name: move-left;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}

@keyframes move-left {
    0%{
        left: 12rem;
    }
    100%{
        left: 8rem;
    }
}

.move-right{
    animation-name: move-right;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
}

@keyframes move-right {
    0%{
        left: 8rem;
    }
    100%{
        left: 12rem;
    }
}

.fade-out{
    animation-name: fade-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fade-out{
    0%{
        transform: scale(1)
    }
    100%{
        transform: scale(0);
    }
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes fade-in {
    0%{
        transform: scale(0)
    }
    100%{
        transform: scale(1);
    }
}

.capture-timer-cont{
    position: absolute;
    right: 8rem;
    top: 3rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.capture-timer-cont:hover{
    height: 3.5rem;
    width: 3.5rem;
    top: 2.8rem;
    right: 7.8rem;
}

.capture-timer{
    font-size: 2rem;
}

.grid-icon-cont{
    position: absolute;
    right: 8rem;
    top: 7rem;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    font-size: 2.5rem;
    font-family: sans-serif;
}

.grid-icon-cont:hover{
    height: 3.5rem;
    width: 3.5rem;
    top: 6.8rem;
    right: 7.8rem;
}

.grid-cont{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.grid-row{
    width: 100%;
    height: 6.4rem;
    border: #ffffff3d solid 0.5px;
    display: flex;
}
.grid-col{
    height: 100%;
    width: 8.3rem;
    border: #ffffff3d solid 0.5px;
}